<!-- Article Tags -->
<div class="subtitle tags is-6 is-pulled-right">
    {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
    {{ end }}
</div>

<!-- Date above Article Title-->
{{if not .Date.IsZero }}
<h2 class="subtitle is-6">
    <!-- Consider german month names -->
    {{if eq .Site.Language.Lang "de" }}
        {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}, {{ .Date.Format "15:04" }}                 
    {{ else }}
        {{ .Date.Format "January 2, 2006 | 15:04" }}
    {{ end }}
</h2>
{{ end }}

<!-- Article Title -->
<h1 class="title">{{ .Title }}</h1>

<div class="content">

    <!-- Article Content -->
    {{ .Content }}

    <!-- Related Articles -->
    {{ if .Site.Params.Info.related }}
        <div class="related">{{ partial "related" . }}</div>
    {{ end }}

</div>

